<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Xmas battle</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/content/materialize.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />

</head>

<body>
  
        {% block content %}{% endblock %}
       

    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/materialize.min.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
